@font-face {
  font-family: outfit;
  font-weight: 400 800;
  src: url(./assets/fonts/Outfit-VariableFont_wght.ttf);
}

$purple: #6466e9;
$darkgrey: #111729;
$grey: #20293a;
$lightgrey: #96a4b5;
// $lightblack: #97A3B;

* {
  font-family: outfit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  .quote-container {
    position: relative;
    background-color: $grey;
    background-image: url(./assets/img/bg-image-random-quote.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    color: white;
    max-width: 600px;
    min-height: 25vh;
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
    h3 {
      font-size: 1rem;
    }
    .tags-container {
      font-size: 0.625rem;
      padding: 1rem 0;
      span {
        margin: 0 0.2rem;
        padding: 0.2rem 1rem;
        font-weight: 600;
        color: $purple;
        border-radius: 20px;
        border: 1px $purple solid;
      }
    }
    .quote {
      font-size: 1.5rem;
      padding: 1rem;
      color: $lightgrey;
    }
  }
  .btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    border: $grey 2px solid;
    border-radius: 10px;
    height: auto;
    & div:first-of-type {
      border-right: $grey 2px solid;
    }
    img {
      margin: 0;
      cursor: pointer;
      min-height: 2.7rem;
      padding: 0.4rem 0.8rem;
      &:hover {
        // border-radius: 10px 0 0 10px;
        // border: $grey 2px solid;
        filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(101deg) brightness(107%) contrast(107%);
      }
    }
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin {
  opacity: 1;
}
.wait {
  position: relative;
  h3 {
    color: $lightgrey;
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px $lightgrey;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
