@font-face {
  font-family: outfit;
  font-weight: 400 800;
  src: url(./assets/fonts/Outfit-VariableFont_wght.ttf);
}
* {
  font-family: outfit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #111729;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}
.app-container .quote-container {
  position: relative;
  background-color: #20293a;
  background-image: url(./assets/img/bg-image-random-quote.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: white;
  max-width: 600px;
  min-height: 25vh;
  padding: 2rem 1rem;
  border-radius: 10px;
  text-align: center;
}
.app-container .quote-container h3 {
  font-size: 1rem;
}
.app-container .quote-container .tags-container {
  font-size: 0.625rem;
  padding: 1rem 0;
}
.app-container .quote-container .tags-container span {
  margin: 0 0.2rem;
  padding: 0.2rem 1rem;
  font-weight: 600;
  color: #6466e9;
  border-radius: 20px;
  border: 1px #6466e9 solid;
}
.app-container .quote-container .quote {
  font-size: 1.5rem;
  padding: 1rem;
  color: #96a4b5;
}
.app-container .btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  border: #20293a 2px solid;
  border-radius: 10px;
  height: auto;
}
.app-container .btn-container div:first-of-type {
  border-right: #20293a 2px solid;
}
.app-container .btn-container img {
  margin: 0;
  cursor: pointer;
  min-height: 2.7rem;
  padding: 0.4rem 0.8rem;
}
.app-container .btn-container img:hover {
  -webkit-filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(101deg) brightness(107%) contrast(107%);
          filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(101deg) brightness(107%) contrast(107%);
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.wait {
  position: relative;
}
.wait .spin {
  opacity: 1;
}
.wait .spin::before {
  -webkit-animation: 1.5s linear infinite spinner;
          animation: 1.5s linear infinite spinner;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
  border: solid 5px #96a4b5;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
.wait h3 {
  color: #96a4b5;
}/*# sourceMappingURL=style.css.map */